<h1>Recipes</h1>
<% if @recipes.empty? %>
  <p>Sorry it seems there are no recipes to view at the moment! 
  Add your own recipe or invite your friends to join in!</p>
  <h2><a href='/recipes/new'>Get Started!</a></h2>
<% else %>
  <% @recipes.each do |recipe| %>
  <div class='recipe-container'><h2><%= recipe.name %></h2>
     <ul>
       <li>Hops: <%= recipe.hops %>
       <li>Malt: <%= recipe.malt %>
       <li>Grain: <%= recipe.grain %>
       <li>Yeast: <%= recipe.yeast %>
    </ul>
    <h5> <%= recipe.user %> </h5>
  </div>  
  <% end%>
<% end %>   
