<h1><%= @recipe.name %></h1>

<ul>
  <li>Hops: <%= @recipe.hops %>
  <li>Malt: <%= @recipe.malt %>
  <li>Grain: <%= @recipe.grain %>
  <li>Yeast: <%= @recipe.yeast %>
</ul>

<br>
<br>
<h5> <a href='/users/<%= @recipe.user.slug %>'>Created by <%= @recipe.user.username %></a></h5>
<% if @recipe.user == current_user%>
  <h5><a href='/recipes/<%= @recipe.id %>/edit'>Edit Recipe</a></h5>
  <form method="post" action="/recipes/<%= @recipe.id%>">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
</form>
<% end %>
